POSTGRES_VERSION=15
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_HOSTNAME=localhost
POSTGRES_PORT=5432
DATABASE_URL=postgresql://postgres:postgres@localhost/postgres
SWAGGER_EDITOR_VERSION=latest
SWAGGER_UI_VERSION=latest
SWAGGER_FILE=../docs/api_specification.yaml