POSTGRES_VERSION=15
POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_DB=personal_ledger_dev
POSTGRES_HOSTNAME=localhost
POSTGRES_PORT=5432
DATABASE_URL=postgresql://username:password@postgres/personal_ledger_dev
ADMINER_VERSION=4.8.1
ADMINER_DEFAULT_SERVER=postgres
SWAGGER_EDITOR_VERSION=latest
SWAGGER_UI_VERSION=latest
SWAGGER_FILE=../docs/api_specification.yaml